#H{
BACKGROUND-COLOR:coral;
   opacity:0.6;
   COLOR:lightblue;
border-radius:50px;
padding-left:px;
text-shadow:4px 4px 4px blue,4px 4px 4px black;
margin-right:20%;
margin-left:20%;
}

#h2{
   BACKGROUND-COLOR:coral;
   COLOR:lightblue;
border-radius:50px;
padding-left:25px;
text-shadow:4px 4px 4px blue,4px 4px 4px black;
margin-right:42%;
margin-left:32%;
}
#image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
box-shadow:4px 4px 4px blue;
}


         
    #btn1{
              color:white;
              background: rgb(200,209,38);
              background: linear-gradient(0deg, rgba(200,209,38,1) 5%, rgba(195,34,189,1) 51%, rgba(107,45,253,1) 78%);
              font-weight:bold;
              MARGIN:justify;
              padding:10px ;
              border-radius:10px;
              FLOAT:CENTER;
              }
 #btn2{
       color:white;
       background-color:blue;
       font-weight:bold;
       padding:10px ;
       border-radius:10px;
       FLOAT:CENTER;
       }
#l1{
       font-style:italic;
       color:red;
       FLOAT:auto;
       font-weight:bold;
       text-decoration:none;
  }

    